
{% extends "layouts/base.html" %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


</script>
<!-- Modal Register-->
<div class="modal fade " id="register" tabindex="-1" role="dialog" aria-labelledby="register_modal" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h3 class="modal-title text-light " id="register_modal">Registrarte</h3>      
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<form id="modalform" form method="post" action="">
      			{% csrf_token %}
      			<div class="form-row form-group ">

					<div class="form-group col-md-6">
						{{ form1.first_name }}
					</div>
					<div class="form-group col-md-6">
						{{ form1.last_name }}
					</div>
				  </div>
				   
				   <div class="form-group">
				   		{{ form1.email_user }}
				   </div>
				  	<div class="form-group">
				      	{{ form1.user_password }}
				   </div>
					
					<div class="form-row form-group">
						<div class="form-group col-md-12">
				      		{{ form1.birthday_date}}
				    	</div>
					</div>
					<div>
					</div>
					<div class="form-row form-group">
						<div class="form-group col-md-5">
							{{ form1.user_role}}
				    	</div>
				    	<div class="form-group col-md-5">
				      		{{ form1.access_code }}
				    	</div>
				    	<div class="form-group col-md-1">
				    		<button type="button" class="btn btn-icon btn-round btn-light btn-xs" data-toggle="tooltip" data-placement="right" title="Si eres profesor, debes crear un código. Si eres estudiante, agrega el mismo código de tú profesor.">
							<i class="fa fa-info"></i>
							</button>
				    	</div>	
					</div>
			      <div class="col-md-12">
			      	<button type="submit" class="btn btn-success btn-lg float-right" id="btn-register" >Registrarte</button>
			      </div>

      		</form>
      </div>

    </div>
  </div>
</div>

	<table class="container-fluid">
			
		<tr>
			<td>
				<div class="col-lg-8">
		      	<h1 class="text-white display-3">
		      		<strong>PEPCom</strong>		
					</h1>
					<p class="text-left h3">
						PEPCom es una herramienta para entrenar tus habilidades de Pensamiento Computacional.
					</p>
				</div>
			</td>
			<td>
		    <div class="page-inner">

		        <div >
		        	<div class="card-title">

                        {% if alert %}
                        	{% if success %}
                           		<span class="text-success">{{ alert | safe }}</span>
                           	{% else %}
                           		<span class="text-danger">{{ alert | safe }}</span>
                           	{% endif %}
                        {% else %}
                        	<span class="text-primary"> </span>
                        {% endif %}

                    </div>
		                <div class="card">
								<form method="post" action="">
 											{% csrf_token %}
			                        <div class="card-body" >
			                            <div>
			                                        <div class="input-group mb-3">
			                                            <div class="input-group-prepend">
			                                                <span class="input-group-text">
			                                                    <i class="icon-user"></i>
			                                                </span>
			                                            </div>
			                                            {{ form.email }}
												
			                                        </div>
			                                    </div>

			                                    <div>
			                                        <div class="input-group mb-3">
			                                            <div class="input-group-prepend">
			                                                <span class="input-group-text">
			                                                   <i class="icon-lock"></i>
			                                                </span>
			                                            </div>	
														{{ form.password }}
			                                        </div>
			                                    </div>
			                        </div>
			                        <div class="card-action">
			                           <button type="submit" class="btn btn-success">Entrar</button>
			                           &nbsp; &nbsp;
			                       		<a data-toggle="modal" href="#register">Crear una nueva cuenta</a>

			                        </div>
		                    	</form>
		                </div>
		        </div>
		    </div>
		</td>
	</tr>
</table>

{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}{% endblock javascripts %}

<script>

</script>