			<footer class="footer">
				<div class="container-fluid">
					Hecho por
					<nav class="pull-left">
						<ul class="nav">
							<div class="nav-item">
								<a class="nav-link" 
                                   href="https://github.com/jose6alejandro">Jose6alejandro
								</a>
							</div>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy;
                        2021 Basado en el template <a target="_blank" href="https://appseed.us"> &nbsp; &nbsp;AppSeed</a>
					</div>				
				</div>
            </footer>
            