
{% extends "layouts/base.html" %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

			<div class="col-lg-8">
		      	<h1 class="text-white display-5">
		      		<strong>Bienvenido, proximamente disponible</strong>		
				</h1>
				<p class="text-left h3">
					Siempre es buen momento para practicar.
				</p>
			</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}