		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/icon2.png" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.first_name }}
									{{ request.user.last_name }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">Perfil (proximamente)</span>
										</a>
									</li>
									<li>
										<a href="{% url 'logout' %}">
											<span class="link-collapse">Cerrar cesión</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				{% if not user.user_profile_set.first.user_role%}
					<ul class="nav nav-primary">
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Panel de funciones </h4>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base">
								<i class="fas fa-th-list"></i>
								<p>Gestionar problemas</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="{% url 'read' %}">
											<span class="sub-item">Ver problemas</span>
										</a>
									</li>
									<li>
										<a href="{% url 'create' %}">
											<span class="sub-item">Agregar un problema</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						
						<li class="nav-item {% if 'charts' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#charts">
								<i class="far fa-chart-bar"></i>
								<p>Ver estadísticas</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="charts">
								<ul class="nav nav-collapse">
									<li>
										<a href="">
											<span class="sub-item">Generales</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">Particulares</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>

				{% else %}
					<ul class="nav nav-primary">
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<h4 class="text-section">Panel de funciones</h4>
							</li>
							<li class="nav-item ">
								<a href="{% url 'question' %}">
									<i class="fas fa-brain"></i>
									<p>Practicar</p>
								</a>

							</li>
							
							<li class="nav-item ">
								<a href="">
									<i class="fas fa-chart-line"></i>
									<p>Ver mis estadísticas</p>
								</a>
							</li>
						</ul>
				{% endif %}	
				</div>
			</div>
		</div>
	
        <!-- End Sidebar -->
        